 {% extends "layout.html" %}
 {% block body %}
 <img class="login" src="../static/logo.png"/>
 <div class="jumbotron">
    <h1>Logowanie</h1>
  <form class="form-signin" action="" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
      <label for="name">Nazwa:</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Nazwa użytkownika">
      <br>
      <label for="password">Hasło:</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Hasło">
 
    </div>
    <button type="submit" id="btnSignUp" class="btn btn-lg btn-primary btn-block">Zaloguj</button>
    <p class="lead"></p>
    <p>Jeśni nie masz konta wykonaj rejestracje</p>
    <p><a class="btn btn-lg btn-success" href="/SignUp" role="button">Zarejestruj</a>
    </p>

  </form>
 
  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}
 
            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
 
</div>
<br>            
</div>
</div>
</div>
 <footer class="footer">
       
        <p>&copy; Company Arhelius 2017/2018</p>
      </footer>
{% endblock %}
