<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AgroFlower</title>
     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/bootstrap2.css') }}">
     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/bootstrap3.css') }}">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/bootstrap.css') }}">
       <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/table-style.css') }}">
    <link href="../static/stylesheets/styles.css" rel="stylesheet">
    <link href="../static/stylesheets/favicon.ico" rel="shortcut icon">
    <script type="text/javascript" charset="utf-8" src="../static/js/clock.js"></script>
    <script type="text/javascript" charset="utf-8" src="../static/js/edition.js"></script>
  </head>

  {% block body %}{% endblock %}
</html>
