{% extends "mainMenu.html" %}
{% block content %}
<div class="sidenav">
    <ul>
        <li><a class="active" href="/menu">Menu</a></li>
        <li><a href="/edycja">Edycja kwiatów</a></li>
        <li><a href="/nawadnianie">Dodatkowe nawadnianie</a></li>
        <li><a href="/historia">Historia nawadniania</a></li>
    </ul>  
</div>
<div class="menu">
    <p class="lead"></p>
     <h1> Status kwiatków </h1>
     <p class="lead"></p>
      <table class="table table-hover">
        <thead>
            <tr>
                <th>Nazwa kwiatka</th>
                <th>Nadane złącze</div></th>
                <th>Nadany pin</div></th>
                <th>Utworzony</th>
                <th>Godzina podlewania</th>
                <th>Data podlewania</th>
                <th>Okres podlewania(w dniach)</th>
            </tr>
        </thead>
        <tbody>
	{% if table|length>0 %}
        {% for i in range(table|length) %}
            <tr>
            {% for j in range(table[i]|length) %}
                <td>{{ table[i][j] }}</td>
            {% endfor %}
            <tr>
        {% endfor %}
        {% else %}
		<tr><td colspan="7">"Brak danych" </td></tr>
	{% endif %}
        </tbody>
    </table>
</div>
{% endblock %}

